.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.menu_container {
    width: 260px;
    height: 100%;
    background-color: #DEDCFF;   
}

.menu_icon {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.menu_chat {
    padding: 15px 20px;
}

.chat_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.chat_list span {
    font-size: 14px;
}

.chat_container {
    width: calc(100% - 260px);
    height: 100%;
    background-color: #ffffff;
    position: relative;
}

.chat_header {
    padding: 15px 20px;
    display: flex;
    justify-content: flex-end;
}

.chat_screen {
    width: 100%;
    height: 100%;
    height: calc(100% - 70px);
}

.chatting {
    width: 100%;
    height: calc(100% - 80px);
    margin: auto;
    overflow: scroll;
}

.paragraph {
    max-width: 768px;
    display: flex;
    align-items: start;
    margin: 0px auto 50px auto;
}

.paragraph img {
    width: 36px;
    height: 36px;
    margin-right: 30px;
}

.paragraph span {
    line-height: 26px;
}

.message_box {
    width: 100%;
}

.send_msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    max-width: 768px;
    height: 60px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 300px;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.send_msg input {
    border: none;
    outline: none;
    background-color: #f4f4f4;
    font-size: 18px;
}

.send_msg img {
    width: 40px;
    height: 40px;
}